/* styles used in wrapping ER diagrams represented in svg and in wrapping associated detail of entiities, relationships and attributes */
 
   div.bigbody{
   	display:flow-root;
   	width:max-content;
		background-color:white;
		margin-right:1px;
		border: 3px solid purple; 
   }

 	div.entityModelHeader{
		float:left;
	   padding-left:5%;
	   padding-top:20px;
	   padding-bottom:20px;
		background-color:white;
		font-size: 16px;
		/* font-family: Montserrat; */
		font-family: sans-serif ;
		color:#445aa9;
   }

   div.entityModelDescription{
		float:left;	
	   padding-left:5%;
	   padding-top:20px;
	   padding-bottom:20px;
		clear:left;
		display:block;
		background-color:white;
		font-size: 10px;
		font-family: sans-serif ;
   }

   hr.rule{
   	clear:left;
   }



/* font sizes in pixels so as to be commensurable with font sizes used in svgs */
  	p {
	   font-size: 10px;
		line-height: 1.5;
    }

   p.small {
      font-size: 9pt;
    }
   
   div.bigouter{
		float:left;
		margin-left:20px;
		background-color:white;
		font-size: small;
		color:#283769;
		width:98%
   }

/* svganddivconatiner => svgcontainer ;
                         infoboxContainer */

   div.svganddivcontainer{ 
	   position:relative;  /* added 01/12/2022 so that html can be position within this containing div */
	   width:max-content;
		float:left; 
		margin-left: 10px;  
		border:1px solid grey;
	   /*overflow:auto;	 */
   }

   #svgcontainer{
   	width:max-content;
   	border:1px solid red;
   	margin:4px;
   }

/* 
   infobox => infoboxHeader, 
                  infoboxBody ;
 
   infoboxHeader => metatype,
                        closeContainer ;

   closeContainer => close ;

   */

   /* font sizes in pixels so as to be commensurable with font sizes used in svgs */
 	div.infobox{
 		position:absolute;
		width:min-content;
		float:left; /*new prior*/
 		overflow:auto;
		display:block;
		visibility:hidden;
		pointer-events:none;
		box-shadow: 5px 5px 2px grey; 
		border: 1px solid ; 
		font-family: sans-serif; 
		line-height 2.0; 
		font-size: 9px; 
		padding-left:5px;   padding-right:5px; padding-top:5px; padding-bottom:5px; 
		color:#283769;
		background-color:rgb(238,238,238);
	}

   /* font sizes in pixels so as to be commensurable with font sizes used in svgs */
   div.infoboxHeader{
    	display:flow-root;	
		cursor:move;
	   padding-bottom:3px;
	   padding-right: 1cm;  //  leave space in container for abs positioned (out of flow) close button container
	   border-width:1pt;
	   border-bottom-style:solid;
		font-size: 10px;
		font-family: sans-serif ;
		height: max-content;
   }

   div.metatype {    /* added for info box surround 11/11/2022*/
    display:inline-block;
    float:left;
    white-space: nowrap;
    }
	
   div.closecontainer {
   display:block;
   position: absolute;
   top: 0px; 
   right: 0px
	}

	button.close{
		border: 1px solid ;
	}

	/* font sizes in pixels so as to be commensurable with font sizes used in svgs */
   div.infoboxBody{
      height: 3cm ;	
 		overflow:auto;
   	clear:left;
   	display:block;
   	padding-top:1px;
   	background-color:white;
		font-size: 10px;
		font-family: sans-serif ;	
		resize:both;	
   }

   	/* font sizes in pixels so as to be commensurable with font sizes used in svgs */
   table.attributeTable{
		font-size: 10px;
		font-family: sans-serif;
		margin-left:10px;
    white-space: nowrap;
   }

   button.popout{
   	font-size: 10px;
   	margin: 0px 0px 0px 30px;
   	padding:0px;
		border: 1px solid ;
	}


	
	