  .title{
    fill: black;
    font-size: 20px;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold
  }

  .normal{
    fill: black;
    font-size: 11px;
    font-style: normal;
    font-weight: normal
  }

  .italic{
    fill: black;
    font-size: 11px;
    font-style: italic;
    font-weight: normal
  }

  .bold{
    fill: black;
    font-size: 11px;
    font-style: normal;
    font-weight: bold
  }

  .margin{
    fill: #FF44FF;
    stroke: black;
    stroke-width: 0;
    stroke-dasharray: .025 .025;
    fill-opacity: 0;
    fill-rule: evenodd
  }

  .margin:hover{
    stroke-width: 0.02;
    fill-opacity: 0.3;
  }

  .padding{
    fill: #FFFF00;
    stroke: black;
    stroke-width: 0;
    stroke-dasharray: .025 .025;
    fill-opacity: 0;
    fill-rule:  evenodd;
  }

  .padding:hover{
    fill-opacity: 0.3;
    stroke-width: 0.02;
  }


  .solidline {
        stroke: black;
        stroke-width: .02;
        fill: none
      }
  .dashedline {
      stroke: black;
      stroke-width: .02;
      stroke-dasharray: 0.07 0.07;
      fill: none
    }


  .routehitarea {
    fill:none;
    stroke-width: .2;
    pointer-events: stroke;
    stroke-opacity:0;  
  }
  .routehitarea:hover {
    stroke: yellow ; 
    stroke-opacity:0.5;
  }

  .eteven{;
    fill: #FFFFCC;
    stroke: black;
    stroke-width: 1
  }

  .etodd{;
    fill: white;
    stroke: black;
    stroke-width: 1
  }

