  .title{
    fill: black;
    font-size: 20px;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold
  }

  .normal{
    fill: black;
    font-size: 11px;
    font-style: normal;
    font-weight: normal
  }

  .italic{
    fill: black;
    font-size: 11px;
    font-style: italic;
    font-weight: normal
  }

  .bold{
    fill: black;
    font-size: 11px;
    font-style: normal;
    font-weight: bold
  }

  .margin{
    fill: #FF44FF;
    stroke: black;
    stroke-width: 0;
    stroke-dasharray: .025 .025;
    fill-opacity: 0;
    fill-rule: evenodd
  }

  .margin:hover{
    stroke-width: 0.02;
    fill-opacity: 0.3;
  }

  .padding{
    fill: #FFFF00;
    stroke: black;
    stroke-width: 0;
    stroke-dasharray: .025 .025;
    fill-opacity: 0;
    fill-rule:  evenodd;
  }

  .padding:hover{
    fill-opacity: 0.3;
    stroke-width: 0.02;
  }

  .outer{
    fill: #0066FF;
    stroke: black;
    stroke-width: 0.02;
    stroke-dasharray: .025 .025;
    fill-opacity: 0.3;
    fill-rule: evenodd;
  }

  .outline{
    stroke: black;
    stroke-width: 1;
    fill-opacity: 0;
    rx:0.2cm;
    ry:0.2cm;
  }

  .standalonepath{
    stroke: blue;
    stroke-width: 0.04;
    fill-opacity: 0;
  }
/*
  .outlinedebug{  # can get rid of this I think
    stroke: black;
    stroke-width: 0.04;
    fill-opacity: 0;
  }
  */

  .solidline {
        stroke: black;
        stroke-width: .02;
        fill: none
      }
  .dashedline {
      stroke: black;
      stroke-width: .02;
      stroke-dasharray: 0.07 0.07;
      fill: none
    }

  .route{
    stroke: blue;
    stroke-width: 0.04;
    fill-opacity: 0;
  }

  .routehitarea {
    fill:none;
    stroke-width: .2;
    pointer-events: stroke;
    stroke-opacity:0;  
  }
  .routehitarea:hover {
    stroke: yellow ; 
    stroke-opacity:0.5;
  }

  .eteven{;
    fill: #FFFFCC;
    stroke: black;
    stroke-width: 1
  }

  .etodd{;
    fill: white;
    stroke: black;
    stroke-width: 1
  }

  .point{;
    stroke: red;
    stroke-width: 1
  }

  .entity_type_outline{;
    stroke: red;
    stroke-width: 1;
    fill-opacity: 0
  }

  .group_outline{;
    stroke: blue;
    stroke-width: 1;
    fill-opacity: 0
  }


  .offwhite{;
    fill: #FCFCFC;
    stroke: black;
    stroke-width: 1
  }

  .gradient{;
    fill: url(#topdowngrey)
  }

  .grey{;
    fill: grey
  }

  .invisible{;
    stroke: none;
    fill-opacity: 0
  }