

   body {
       background-color: #ECEEF6;
    }
  button.close{
	  onClick:
  }

  div.caption{
	float:left;
        padding-left:5%;
        padding-top:5px;
        padding-bottom:20px;
        font-size: 9pt;
         /* border: 2px solid ; */
   }

  div.captionHeading{
        padding-right:20px;
	float:left;
        font-style:italic;
          /* border: 1px solid  */ 
   }
   
   div.bigbody{
	background-color:white;
	width:100%; 
	margin-right:1px;
	border: 3px solid ; 
   }
   
  div.bigouter{
	float:left;
	margin-left:20px;
	background-color:white;
	font-size: medium;
        color:#283769;
        width:98%
   }
   div.bigsvg{
	 float:left; 
	 /*width:79%;*/
	 margin-left: 10px;  
	 border:1px solid grey;
     overflow:scroll;	 
   }

   div.body{
	background-color:white;
   }

   div.bottomnavigation {
        float:left;
        margin-top: 40px;
        width:100% ;
          /* border: 2px solid */
        }
   div.eqno {
	float:right;
	margin-right:0.5cm;
	}
	
   div.closecontainer {
	float:right;
	}

  div.footer{
	float:left;
        padding-left:5%;
        padding-top:20px;
        padding-bottom:20px;
	background-color:white;
	font-size: 14px;
        color:#283769;
   }
   


   div.header{
	float:left;
    padding-left:5%;
    padding-top:20px;
    padding-bottom:20px;
	background-color:white;
	font-size: 400%;
	/* font-family: Montserrat; */
	font-family: sans-serif ;
	color:#445aa9;
			#color:#5064AE;
    #color:#283769;
   }
   div.displayequation {
	display:inline-block;  /*  new */
	float:left;
	margin-left:20px;
	margin-right:20px; 
    margin-bottom:15px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    color:#283769;
	background-color:rgb(238,238,238);
    width:90%; 
	/* border: 1px solid #283769;   debug*/
    } 

    div.displayfigure {
	display:inline-block;  /*  new */
	float:left;
	margin-left:20px;
	margin-right:20px; 
    margin-bottom:15px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    color:#283769;
	background-color:rgb(238,238,238);
        /* width:90%;  */
	/* border: 1px solid #283769;   debug*/
    } 

    div.displaypicture {
        float:left;
        background-color:transparent ;
        width:90% ;
    }
	
	div.displaytable {
	display:inline-block;  /*  new */
	float:left;
	margin-left:20px;
	margin-right:20px; 
    margin-bottom:15px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    color:#283769;
	background-color:rgb(238,238,238);
        /* width:90%;  */
	/* border: 1px solid #283769;   debug*/
    } 

    div.div {
	display:inline-block;  /* new */
        float:left;
        /* border: 1px solid red ;  */
        }

    div.figuregroup {
	display:block;  
        float:left;
        overflow: hidden ;
       /*  border: 2px solid purple ;  */
        }

    div.footnote {
        float:left;
        font-size:9pt;
        }

    div.footnote:first-child{
       margin-top: 40px;
       }
	   
	div.infolevel1{
		width:100%;
		float:left;
		padding-left:0px;
		margin-right:40px;		
	}
	div.infolevel2{
		width:100%;
	    float:left;
		padding-left:10px;
		margin-right:30px;	
	}
	div.infolevel3{
		width:100%;
		float:left;
		padding-left:20px;
		margin-right:20px	
	}
	div.infolevel4{
		width:100%;
		float:left;
		padding-left:30px;
		margin-right:10px	
	}
	div.infolevel5{
		width:100%;
		float:left;
		padding-left:40px;
		margin-right:0px	
	}
	
    div.infolist{
	    width:20%; 
	    float:left; 
    }	
	div.infotextbox{
		display:none;
		opacity:0;  /*xxxxxxxxxxxxxxxxxxxxxxxxx want a 0 here but have 1 when debugging*/
		box-shadow: 5px 5px 2px grey; 
		border: 1px solid ; 
		font-family: sans-serif; 
		line-height 2.0; 
		font-size: 9pt; 
		padding-left:5px;   padding-right:5px; padding-top:5px; padding-bottom:5px; 
		color:#283769;
		background-color:rgb(238,238,238);
		transition: opacity 1s linear ;
	}

    div.longrightarrow:before {
         float:left;
         content: "\27F6"
        }

        /* The parent for content that is to be vertically middled. */
    div.middlingContainer{
       float:left;
      /* text-align: center; */
       /*background: #c0c0c0; */
       /*border: #a0a0a0 solid 1px */
    }
 
       /* The ghost*/
    div.middlingContainer:before {
       content: '';
       display: inline-block;
       height: 100%;
       vertical-align: middle;
       width:5px
       }

      /* The content which is to be vertically middled */ 
    div.middledContent {
       display: inline-block;
       vertical-align: middle;
       }

    div.normal {
      display:block;
      min-width:30%;
      /* border: 1pt solid purple; */ 
    }


   div.outer{
	float:left;
	margin-left:5%;
	background-color:white;
	font-size: medium;
        color:#283769;
        width:95%
   }


    div.page {
	float:left;
    padding-left:5%;
	padding-right:5%;
	padding-top:40px;
	padding-bottom:60px;
	background-color:white;
    box-shadow: 5px 5px 2px grey;
    border: 1px solid ;
	/* font-family: Montserrat; */
	font-family: sans-serif;
	line-height 2.0;
	font-size: 10pt;
    color:#283769;
    width:60%
    } 

    div.pageheader {
        text-align:center;
        color:#283769;
		margin-bottom:35px;
    }

    div.quotation {
	float:left;
    margin-left:10%;
	margin-right:10%;
	padding-top:10px;
	padding-bottom:10px;
    font-style: italic ;
    color:#283769;
    } 


    div.sidebar{float:left;
	margin-left:5px;
	margin-right:5px;
    padding-left:5px;
	padding-right:5px;
	background-color:white;
    border: 1px solid ;
	max-width:180px;
	font-size: medium;
    color:#283769;
    } 

    div.short {
       float:left;
       width:50%
    }

    div.veryshort {
       float:left;
    }
	

    h2 {
       color: #5064AE;
       text-align: left;
	   font-size:1.35em;
    }
    h3 {
       color: #777777;
       text-align: left
    }
    img.inline {
       vertical-align: middle
    }
			  

    p {
      font-size: 10pt;
	  line-height: 1.5;
    }


    p.small {
      font-size: 9pt;
    }

    img.er {
      background-color:transparent;
      display:block;
      margin-right:auto;
      margin-left:auto;
      text-align:center
    }
    table {
	    border-collapse: collapse;
		border: 1px solid #283769;  
        margin-left:10px
    }
	table.borderless {
	    border-collapse: collapse;
		border:none;
        margin-left:10px
    }
	
	thead.lowerborder {
		border-bottom: 1px solid #283769;
    }
	
	td.rightborder {
		border-right: 1px solid #283769;
    }
	
	tbody, tr, th, td {
            border: inherit;
         }

    table > thead > tr > th {
	    background-color:#455AA9;
        padding-left:6px;
        padding-right:6px;
        font-size: 10pt;
        color:white
    }
    
    td {
       color:#283769;
       font-size: 10pt;
       #border: 1px solid #283769;  
	   padding: 3px ;
    }
	
    span.small {
      font-size: 9pt;
    }

    ul {
      list-style-position: outside;
      /* font-size: small DONT WANT THIS EVERYWHERE REINTRODUCE MORE SPECIFICALLY WHEN IN CERTAIN CONTEXTS */
    }
	.displayfigure ul {
      list-style-position: outside;
    }
	.displayfigure {
		font-size: 9pt ;
	}




